<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TA_Aries.Properties.Settings.TA_lampost2016ConnectionString"
            connectionString="Data Source=ARIESUI-PC;Initial Catalog=TA_lampost2016;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>